<p>Servicios Transacciones</p>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de referencia:</label><input></nav>
    <nav><label>Total de la compra:</label><input></nav>
    <nav><label>Direccion de compra:</label><input></nav>
    <button>Crear Transacción</button>
</div>
<br>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de referencia:</label><input></nav>
    <nav><label>Total de la compra:</label><input></nav>
    <button>Anular Transacción</button>
</div>