<p>Servicios de Tarjetas</p>
<div>
    <nav><label>Titular:</label><input [(ngModel)]="valueCrearTitular"></nav>
    <nav><label>Cedula:</label><input [(ngModel)]="valueCrearCedula"></nav>
    <nav><label>PAN:</label><input [(ngModel)]="valueCrearPAN"></nav>
    <nav><label>Telefono:</label><input [(ngModel)]="valueCrearTelefono"></nav>
    <nav><label>Tipo de tarjeta:</label><input [(ngModel)]="valueCrearTipoTarjeta"></nav>
    <button (click)="ClickCrearTarjeta()">Crear Tarjeta</button>
</div>
<div *ngIf="bCrearTarjeta" class="container">
    <div class="row">
        <div class="col-3">
            <label>Numero Validación:{{crearNumeroValidacion}}</label>
        </div>
        <div class="col-3">
            <label>Código Respuesta:{{crearCodigoRespuesta}}</label>
        </div>
        <div class="col-3">
            <label>Mensaje:{{crearMensaje}}</label>
        </div>
        <div class="col-3">
            <label>PAN:{{crearPAN}}</label>
        </div>
    </div>
</div>
<br>

<div>
    <nav><label>PAN:</label><input [(ngModel)]="valueEnrolarPAN"></nav>
    <nav><label>Número de validación:</label><input [(ngModel)]="valueEnrolarNumeroValidacion"></nav>
    <button (click)="ClickEnrolarTarjeta()">Enrolar Tarjeta</button >
</div>
<div *ngIf="bEnrolarTarjeta" class="container">
    <div class="row">
        <div class="col-3">
            <label>Código respuesta: {{EnrolarCodigoRespuesta}}</label>
        </div>
        <div class="col-3">
            <label>Enrolar mensaje: {{EnrolarMensaje}}</label>
        </div>
        <div class="col-3">
            <label>PAN: {{EnrolarPAN}}</label>
        </div>
    </div>
</div>
<br>
<div>
    <nav><label>PAN</label><input [(ngModel)]="valueConsultarTarjeta"></nav>
    <button (click)="ClickConsultarTarjeta()">Consultar Tarjeta</button>
    <div *ngIf="bConsultarTarjeta" class="container">
        <div class="row">
            <div class="col-4">
                <label>Titular: {{ConsultarTitular}}</label>
            </div>
            <div class="col-4">
                <label>Cedula:{{ConsultarCedula}}</label>
            </div>
            <div class="col-4">
                <label>Télefono:{{ConsultarTelefono}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Estado:{{ConsultarEstado}}</label>
            </div>
            <div class="col-4">
                <label>PAN:{{ConsultarPAN}}</label>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</div>
<br>
<div>
    <nav><label>PAN:</label><input [(ngModel)]="valueEliminarPAN"></nav>
    <nav><label>Número de validación:</label><input [(ngModel)]="valueEliminarNumeroVAlidacion"></nav>
    <button (click)="ClickEliminarTarjeta()">Eliminar Tarjeta</button>
    <div *ngIf="bEliminarTarjeta" class="container">
       <div class="row">
            <div class="col-3">
                <label>CodigoRespuesta:{{EliminarCodigoRespuesta}}</label>
            </div>
            <div class="col-3">
                <label>Mensaje:{{EliminarMensaje}}</label>
            </div> 
       </div> 
    </div>
</div>
<br>
<button (click)="routeHome()" > 
    Regresar
</button>