<p>Servicios de Tarjetas</p>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Cedula:</label><input></nav>
    <nav><label>Tipo de tarjeta:</label><input></nav>
    <nav><label>Telefono:</label><input></nav>
    <button>Crear Tarjeta</button>
</div>
<br>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de validacion:</label><input></nav>
    <button>Enrrolar Tarjeta</button>
</div>
<br>
<div>
    <nav><label>PAN</label><input></nav>
    <button>Consultar Tarjeta</button>
</div>
<br>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de validacion:</label><input></nav>
    <button>Eliminar Tarjeta</button>
</div>
<br>
<button (click)="routeHome()" > 
    Regresar
</button>