<p>Servicios de Tarjetas</p>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Cedula:</label><input></nav>
    <nav><label>Tipo de tarjeta:</label><input></nav>
    <nav><label>Telefono:</label><input></nav>
    <button (click)="ClickCrearTarjeta()">Crear Tarjeta</button>
</div>
<div *ngIf="bCrearTarjeta" class="container">
    <div class="row">
        <div class="col-3">
            <label>Numero Validacion: {{crearNumeroValidacion}}</label>
        </div>
        <div class="col-3">
            <label>Codigo Respuesta:{{crearCodigoRespuesta}}</label>
        </div>
        <div class="col-3">
            <label>Crear Mensaje:{{crearMensaje}}</label>
        </div>
        <div class="col-3">
            <label>crearPAN:{{crearPAN}}</label>
        </div>
    </div>
</div>
<br>

<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de validacion:</label><input></nav>
    <button>Enrrolar Tarjeta</button>
</div>
<br>
<div>
    <nav><label>PAN</label><input></nav>
    <button (click)="ClickConsultarTarjeta()">Consultar Tarjeta</button>
    <div class="row">
        <div class="col-4">
            <label>Titular: {{ConsultarTitular}}</label>
        </div>
        <div class="col-4">
            <label>Cedula:{{ConsultarCedula}}</label>
        </div>
        <div class="col-4">
            <label>Telefono:{{ConsultarTelefono}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Estado:{{ConsultarEstado}}</label>
        </div>
        <div class="col-4">
            <label>PAN:{{ConsultarPAN}}</label>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<br>
<div>
    <nav><label>PAN:</label><input></nav>
    <nav><label>Numero de validacion:</label><input></nav>
    <button>Eliminar Tarjeta</button>
</div>
<br>
<button (click)="routeHome()" > 
    Regresar
</button>